#main {
    display: flex;
    flex-wrap: wrap;

}

#second {
    text-align: center;
    margin-top: 100px;
}

.new-book-btn {
    display: inline-block;
    background-color: #5635eb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 25px 42px;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .new-book-btn:hover {
    background-color: #726add;
  }
  
  .new-book-link {
    text-decoration: none;
    color: inherit;
  }
  
  .button-text {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
  }
  

  /* search bar style */

  .search-bar {
    position: relative;
    display: inline-block;
    width: 300px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Hover effect for the search button */
  .search-button:hover {
    background-color: #0056b3;
  }