
{%extends 'base.html' %}
{% load static %}
{% block css_files%}
<link rel="stylesheet" href="{% static 'LibManager/css/new_book_form.css' %}"/>
{%endblock%}

{% block title%} Add new Author {% endblock%}

{% block content %}

<div class="form-container">
    <form action="{% url 'AddAuthor' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form_control {% if form.field.errors %} errors {% endif %}">
                {{filed}}
                {{field.label_tag}}  
                {% if field.label == "Author" %}
                    <a href="{% url 'AddAthor'%}">Add new Athor</a>
                {% endif %}
                {{field}}
                {{field.errors}}
            </div>
        {%endfor%}
        <button type="submit">Add</button>

    </form>
</div>
{% endblock %}
